# Virtual Environment
venv/
venv

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific files
.vscode/
.idea/

# Large data files - We manage these manually and don't track them in Git
# To track a specific small data file, you can add it with `git add -f data/path/to/file`
data/raw/*.mp4
output/*.csv

src/__pycache__/